body {
    font-family: 'Permanent Marker', cursive;;
    background: url(../images/cartoon.jpg)  no-repeat center center fixed;
    background-size: cover;
    color: black;

}

.card .card-body {
    background: transparent !important;
    border: none !important;
    justify-content: center !important;
}

#gif-buttons {
    border: none;
}

.row {
    width: 100vw;
}

.title {
    text-align: center;
}

.search {
    text-align: center;
}

.toon-btns {
    margin-top: 20px;
}

h4 {
    color: #FF00CC;
    text-align: center;
    font-size: 2rem;
}

