* {
    box-sizing: border-box;
}
body {
    font-family: 'Permanent Marker', cursive;;
    background: url(../images/rocco.jpg);
    background-size: cover;
    color: black;

}

.card .card-body {
    background: red;
}

#gif-buttons {
    border: none;
}